
/* page1 */
.page1 {
    background:#d66d93;
}

.page1 > .page1_image1 {
    position: absolute;
    top: 10.875vh;
    right: 28.85vh;
    width: 26.5vh;
    height: 26.5vh;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: url("../images/page1_image1.gif") no-repeat center center;
    background-size: 100%;
    opacity: 0;
}
.play > .page1_image1 {
    -webkit-animation: page1_image1 2.8s linear .2s forwards;
            animation: page1_image1 2.8s linear .2s forwards;
}
@keyframes page1_image1 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes page1_image1 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.page1 > .page1_image2 {
    position: absolute;
    top: 26.8vh;
    right: 4.35vh;
    width: 30.8vh;
    height: 30.8vh;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: url("../images/page1_image2.gif") no-repeat center center;
    background-size: 100%;
    opacity: 0;
}
.play > .page1_image2 {
    -webkit-animation: page1_image2 1.8s linear 1.4s forwards;
            animation: page1_image2 1.8s linear 1.4s forwards;
}
@keyframes page1_image2 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes page1_image2 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.page1 > .page1_image3 {
    position: absolute;
    top: 48.9vh;
    right: 24.15vh;
    width: 35.8vh;
    height: 35.8vh;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: url("../images/page1_image3.gif") no-repeat center center;
    background-size: 100%;
    opacity: 0;
}
.play > .page1_image3 {
    -webkit-animation: page1_image3 1.8s linear 1.9s forwards;
    animation: page1_image3 1.8s linear 1.9s forwards;
}
@keyframes page1_image3 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes page1_image3 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.page1 > .page1_image4 {
    position: absolute;
    top: 70.1vh;
    right: 4.85vh;
    width: 23.8vh;
    height: 23.8vh;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: url("../images/page1_image4.gif") no-repeat center center;
    background-size: 100%;
    opacity: 0;
}
.play > .page1_image4 {
    -webkit-animation: page1_image4 1.2s linear 2.5s forwards;
    animation: page1_image4 1.2s linear 2.5s forwards;
}
@keyframes page1_image4 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes page1_image4 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* page2 */
.page2 {
     background:#98c63a;
}

.page2 > .page2_data {
    position: absolute;
    top: 23.875vh;
    left: 4.5vh;
}
.page2_data p {
    margin: 2vh;
    font-size: 1.1rem;
    opacity: 0;
}

.page > .page2_image {
    position: absolute;
    top: 50vh;
    width: 40vh;
    height: 40vh;
    background: url("../images/bage2_image.gif") no-repeat center center;
    background-size: 100%;
    opacity: 0;
}
.play > .page2_image {
    -webkit-animation: page3_image 2s ease-out 2.5s forwards;
    animation: page3_image 2s ease-out 2.5s forwards;
}
@keyframes page2_image {
    0% {
        opacity: 0;
    }
    100% {
        transform: translate(6vh,0);
        opacity: 1;
    }
}
@-webkit-keyframes page2_image {
    0% {
        opacity: 0;
    }
    100% {
        transform: translate(6vh,0);
        opacity: 1;
    }
}

.play p:first-of-type {
    -webkit-animation: p1 1.8s linear .4s forwards;
            animation: p1 1.8s linear .4s forwards;
    opacity: 0;
}
@keyframes p1 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes p1 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.play p:nth-child(2) {
    -webkit-animation: p2 2.0s linear .7s forwards;
    animation: p2 2.0s linear .7s forwards;
    opacity: 0;
}
@keyframes p2 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes p2 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.play p:nth-child(3) {
    -webkit-animation: p3 1.8s linear 1.1s forwards;
    animation: p3 1.8s linear 1.1s forwards;
    opacity: 0;
}
@keyframes p3 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes p3 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.play p:nth-child(4) {
    -webkit-animation: p4 1.5s linear 1.6s forwards;
    animation: p4 1.5s linear 1.6s forwards;
    opacity: 0;
}
@keyframes p4 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes p4 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* page3 */
.page3 {
    background: #e9cb5f;
}

.page3 > .page3_data {
    position: absolute;
    top: 23.875vh;
    left: 4.5vh;
}
.page3 p {
    margin: 2vh;
    font-size: 1.1rem;
    opacity: 0;
}

.page > .page3_image {
    position: absolute;
    top: 50vh;
    width: 40vh;
    height: 40vh;
    background: url("../images/page3_image.gif") no-repeat center center;
    background-size: 100%;
    opacity: 0;
}
.play > .page3_image {
    -webkit-animation: page3_image 2s ease-out 2.0s forwards;
    animation: page3_image 2s ease-out 2.0s forwards;
}
@keyframes page3_image {
    0% {
        opacity: 0;
    }
    100% {
        transform: translate(6vh,0);
        opacity: 1;
    }
}
@-webkit-keyframes page3_image {
    0% {
        opacity: 0;
    }
    100% {
        transform: translate(6vh,0);
        opacity: 1;
    }
}


/* page4 */
.page4 {
    background: #42bdbd;
}

.page4 > .page4_data {
    position: absolute;
    top: 23.875vh;
    left: 4.5vh;
}
.page4 p {
    margin: 2vh;
    font-size: 1.1rem;
    opacity: 0;
}

.page > .page4_image {
    position: absolute;
    top: 40vh;
    width: 40vh;
    height: 40vh;
    background: url("../images/page4_image.gif") no-repeat center center;
    background-size: 100%;
    opacity: 0;
}
.play > .page4_image {
    -webkit-animation: page3_image 2s ease-out 2.0s forwards;
    animation: page3_image 2s ease-out 2.0s forwards;
}
@keyframes page4_image {
    0% {
        opacity: 0;
    }
    100% {
        transform: translate(6vh,0);
        opacity: 1;
    }
}
@-webkit-keyframes page4_image {
    0% {
        opacity: 0;
    }
    100% {
        transform: translate(6vh,0);
        opacity: 1;
    }
}

/* page5 */
.page5 {
    background: url("../images/page5_bg.gif") no-repeat center center;
    background-size: 100%;
}

.page5 span {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.8rem;
    opacity: 0;
}
.page5_word {
    position: absolute;
    top: 28.875vh;
    left: 4.5vh;
}

.play > .page5_word span:first-of-type {
    padding: 4vh;
    -webkit-animation: page5_word 1.8s ease-out 1.9s forwards;
            animation: page5_word 1.8s ease-out 1.9s forwards;
}
.play > .page5_word span:nth-child(2) {
    padding: 4vh 4vh;
    -webkit-animation: page5_word 2s ease-out 3.1s forwards;
    animation: page5_word 2s ease-out 3.1s forwards;
}
@keyframes page5_word {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes page5_word {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* page6 */
.page6 {
    background: url("../images/page6_bg.gif") no-repeat center center;
    background-size: 100%;
}

.page6 span {
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0;
}
.page6_word {
    position: absolute;
    top: 12.875vh;
    left: 15.5vh;
}

.play > .page6_word span:first-of-type {
    padding: 1vh;
    -webkit-animation: page6_word 1.8s ease-out 1.9s forwards;
    animation: page6_word 1.8s ease-out 1.9s forwards;
}
.play > .page6_word span:nth-child(2) {
    padding: 4vh 8vh;
    -webkit-animation: page6_word 2s ease-out 3.1s forwards;
    animation: page6_word 2s ease-out 3.1s forwards;
}
@keyframes page6_word {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes page6_word {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* page7 */
.page7 {
        background: url("../images/page7_bg.gif") no-repeat center center;
        background-size: 100%;
    }

.page7 span {
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0;
}
.page7_word {
    position: absolute;
    top: 28.875vh;
    left: 4.5vh;
}

.play > .page7_word span:first-of-type {
    padding: 1vh;
    opacity: 0;
    -webkit-animation: page7_word 1.8s ease-out 2.4s forwards;
    animation: page7_word 1.8s ease-out 2.4s forwards;
}
.play > .page7_word span:nth-child(2) {
    padding: 1vh 4vh;
    opacity: 0;
    -webkit-animation: page7_word 2s ease-out 3.3s forwards;
    animation: page7_word 2s ease-out 3.3s forwards;
}
@keyframes page7_word {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes page7_word {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* page8 */
.page8 {
        background: url("../images/page8_image.jpeg") no-repeat center center;
        background-size: 100%;
}



/* page9 */
.page9 {
        background: url("../images/page9_image.jpeg") no-repeat center center;
        background-size: 100%;
    }


/* page10 */
.page10 {
        background: url("../images/page10_image.jpeg") no-repeat center center;
        background-size: 100%;
    }

/* page11 */
.page11 {
        background: url("../images/page11_image.jpeg") no-repeat center center;
        background-size: 100%;
    }

/* page12 */
.page12{
    background: #4285F4;
}

.page12_word > span {
    position: absolute;
    top: 25vh;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.page12 img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 30vh;
    height: 30vh;
}

.page12 span {
    font-size: 1.0rem;
}
.page12_footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
.page12_footer span {
    text-align: right;
}
.page12_footer > span:nth-child(1) {
    position: absolute;
    right: 1.2vh;
    bottom: 14.5vh;
}
.page12_footer > span:nth-child(2) {
    position: absolute;
    right: 1.2vh;
    bottom: 10.5vh;
}
.page12_footer > span:nth-child(3) {
    position: absolute;
    right: 1.2vh;
    bottom: 6.4vh;
}
.page12_footer > span:nth-child(4) {
    position: absolute;
    right: 1.2vh;
    bottom: 2.5vh;
}
